html,body{
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #160909 0%, #160909 45%, #291111 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pumpkin {
    height: 11em;
    width: 15em;
    background-color: orange;
    border: .4em solid #a14907;
    border: radius 70%/110%;
    position: relative;
    box-shadow: inset 0 0 20px #a14907, 0 0 30px -4px red;
    z-index: 1;
    animation: float 3s infinite;

}

.pumpkin .texture{
    height: 10.8em;
    width: 6.5em;
    position: absolute;
    bottom: -0.4em;
    left: 4em;
    border-radius: 70%/130%;
    border-bottom: 0.5em solid #a14907;
    border-top: .5em solid#a14907;
}

.pumpkin .texture::after{
    content: '';
    display: block;
}