body {
    position: relative;
    background-color: #a25a5a;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.button{
    background: #646ef1;
    border-radius:5px;
    display: inline-block;
    padding: 8px 12px;
    margin: 6px;
    width: auto;
}

.button a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}